/************
FONTS
************/
//Logo font:
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
//font-family: 'Dancing Script', cursive;
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;700&display=swap');
//font-family: 'Dosis', sans-serif;

/************
COLORS
************/

//BTN
$btnBgColor: #eee;
$btnTextColor: #000;
$btnShadowColor: rgba(0, 0, 0, 0.18);
$menuHoverColor: #606f10;
$headerBgColor: #ffffff55;