@media only screen and (max-width: 1220px) {
    .hamburger-react {
        display: block;
    }
    .App-header.active {
        flex-direction: column;
        .menu {
            flex-direction: column;

            li {
                margin: 0;
            }
        }
        .languages {
            margin: 0 20px;
            align-items:flex-start;
            flex-direction:row;
            justify-content:space-evenly;
        }
    }

    .App-header.unactive {
        visibility: hidden;
    }

    .section {
        .container {
            padding: 0 0 20px 0;
        } 
    }

    .home {
        .main-title-wrapper {
            margin: -15% 0 0 0;

            h1 {
                margin: 14vw 0 4rem 0;
            }

            h2 {
                margin: 0 0 1rem 0;
            }
        }
    }

    .indications {
        .indications-wrapper {
            flex-direction: column;

            ul {
                margin: 0;
            }

            img {
                max-width: 100%;
                margin: 0 3vw;
            }
        }
    }

    .contact-data {
        flex-direction: column;
    }
}


